<div class="row login_section">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="box_login add-sentence-style">
      <div class="add-word-block">
        <h3><%= t("add_sentence") %></h3>
        <%= form_for :add_line, url: { controller:"lines", action: "create" }, html: { class: "add_line" }, remote: true do |f| %>
          <div class="form-group">
            <select name="add_line[word_id]" id="words" data-placeholder="<%= t("word") %>">
              <option value=""></option>
              <% @words.each do |w| %>
                <option value="<%= w.id %>"><%= w.body %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <%= f.text_area :line, data:{role: 'tagsinput'},  class: "tags-input-line-class", placeholder: t("placeholder.sentence") %>
          </div>
          <div class="form-group">
            <%= f.text_area :translation_line, data:{role: 'tagsinput'},  class: "tags-input-line-translation-class", placeholder: t("placeholder.translation_sentence") %>
          </div>
          <div class="form-group">
            <%= f.submit t("add_sentence"), class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>