<div class="row login_section">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="box_login">
      <h2><%= t("sign_up") %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label t("email") %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label t("password") %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> <%= t("password_length_minimum") %>)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label t("password_confirmation") %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= render "devise/shared/links" %>
          <%= f.submit t("sign_up"), class: "btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
  </div>
</div>