<% if all %>
  <div class="digg_pagination"><div class="block-center"><%= will_paginate all, container: false, previous_label: '<', next_label: '>' %></div></div>
  <% all.each_with_index do |i, index| %>
    <div class="word_block">
      <ul class="item">
        <li class="word"><span class="audio"><%= i.word.body %></span></li>
        <li class="word"><%= i.translation_word.body %></li>
        <li class="line"><span class="audio"><%= i.line.body %></span></li>
        <li class="line"><%= i.translation_line.body %></li>
        <li class="remove">
          <!-- data: { confirm: 'Are you sure?' } -->
          <div class="delete_button btn btn-primary" data-link="<%= dictionary_url(i.id) %>">Delete</div>
          <a href="<%= edit_dictionary_url(i.id) %>" class="btn btn-primary">Edit</a>
        </li>
      </ul>
      <% if i.image.body == "" %>
        <% image_correct = asset_path('no-image.png') %>
      <% else %>
        <% image_correct = i.image.body %>
      <% end %>
      <img class="custom_image" data-img="<%= image_correct %>">
    </div>
  <% end %>
  <div class="digg_pagination align-center"><div class="block-center"><%= will_paginate all, container: false, previous_label: '<', next_label: '>' %></div></div>
<% else %>
  Hello
<% end %>