<% if all %>
  <div class="digg_pagination"><div class="block-center"><%= will_paginate all, container: false, previous_label: '<', next_label: '>' %></div></div>
  <% all.each_with_index do |i, index| %>
    <div class="word_block">
      <ul class="item item_index">
        <li class="word"><span class="audio">
          <% if i.word %>
            <%= i.word.body %>
          <% end %>
        </span></li>
        <li class="word">
          <% if i.translation_words.first %>
            <%= i.translation_words.first.body %>
          <% end %>
        </li>
        <li>
          <div class="delete_button btn btn-primary" data-link="<%= dictionary_url(i.id) %>">Delete</div>
        </li>
      </ul>
      <% if i.image %>
        <% if i.image.body == "" %>
          <% image_correct = asset_path('no-image.png') %>
        <% end %>
        <% if i.image.body != "" %>
          <% image_correct = i.image.body %>
        <% end %>
      <% end %>
      <img class="custom_image" data-img="<%= image_correct %>">
    </div>
  <% end %>
  <div class="digg_pagination align-center"><div class="block-center"><%= will_paginate all, container: false, previous_label: '<', next_label: '>' %></div></div>
<% else %>
  Hello
<% end %>