<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t("your_dictionary"), root_url, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="<%= root_url %>"><%= t("home") %></a></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= t("change_dictionary") %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= new_word_url %>"><%= t("add_word") %></a></li>
              <li><a href="<%= new_line_url %>"><%= t("add_sentence") %></a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= t("learn") %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= study_word_and_translate_path %>"><%= t("word_and_translate") %></a></li>
              <li><a href="#">method 2</a></li>
              <li><a href="#">method 3</a></li>
              <li><a href="#">method 4</a></li>
              <li><a href="#">method 5</a></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav">
        <li id="switch" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= t("language") %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu ul_language_dropdown">
            <li><%= link_to_unless_current "ru", locale: "ru" %></li>
            <li><%= link_to_unless_current "en", locale: "en" %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav ">
        <% unless user_signed_in? %>
          <li><a href="<%= new_user_session_url %>"><%= t("log_in") %></a></li>
        <% else %>
          <li><%= link_to t("log_out"), destroy_user_session_url, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% result = nil %>
<% flash.each do |name, msg| %>
  <% result = msg %>
<% end %>

<% if result %>
  <script>
    Messenger.options = {
      extraClasses: 'messenger-fixed messenger-on-top',
      theme: 'ice'
    }

    Messenger().post({
      message:"<%= result %>",
      showCloseButton: true,
      hideAfter: 7
    });
  </script>
<% end %>