<div class="row login_section">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="box_login">
      <h2><%= t("log_in") %></h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label t("email") %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label t("password") %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label t("remember_me") %>
          </div>
        <% end -%>

        <div class="actions">
          <%= render "devise/shared/links" %>
          <%= f.submit t("log_in"), class: "btn btn-primary" %>
        </div>

        <div class="alternative_login">
          <div class="or">--- <%= t("or") %> ---</div>
          <a href="<%= user_google_oauth2_omniauth_authorize_path %>" class="width_90 btn btn-block btn-social btn-google">
            <i class="fa fa-google"></i>
            Sign in with Google
          </a>
          <a href="<%= user_facebook_omniauth_authorize_path %>" class="width_90 btn btn-block btn-social btn-facebook">
            <i class="fa fa-facebook"></i>
            Sign in with Facebook
          </a>
        </div>
      <% end %>

    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

  </div>

</div>