<div class="row login_section">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="box_login">
          <div class="word_block add-word-block">
            <h3><%= t("add_word") %></h3>
            <%= form_for :add_word, url: { controller: "words", action: "create" }, html: {class: "add_word", multipart: true }, remote: true do |f| %>
              <div class="form-group">
                <%= f.text_field :word, class: "form-control", placeholder: t("placeholder.word") %>
              </div>
              <div class="form-group">
                <%= f.text_area :translation_word, data:{ role: 'tagsinput' },  class: "tags-input-class" %>
              </div>
              <div class="form-group">
                <div id="custom-board-1"></div>
              </div>
              <div class="form-group">
                <%= f.submit t("add_word"), class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      </div>
    </div>
  </div>

</div>