/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require chosen
 */
.word_block{
  display:inline-block;
  margin: 10px;
  padding:10px;
  border:1px solid;
  border-radius: 10px;
  font-size:20px;
  text-align: left;
}

.word_block .item{
  float:left;
  margin-right:40px;
}

.word_block ul{
  list-style-type: none;
  margin:0;
  padding:0;
}

.word_block ul.item_index li{
  margin-top:6px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:#ffffff;
  text-shadow: 1px 2px 0 #456; color: #FFF;
}

.custom_image{
  width:190px;
  height:190px;
  border:1px solid;
}

/* --- */

.add-word-block{
  border:0;
  width:100%;
}

.clear-after:after{
  content: "";
  clear: both;
  display: table;
}

#custom-board-1{
  width:275px;
  height: 275px;
}

/* --- */

#talkify-audio{
  display: none;
}

.audio{
  cursor: pointer;
}

.audio:after{
  width:20px;
  height: 20px;
  margin-left: 10px;
  content: "\f001";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.float-right{
  float:right;
}

.block-center{
  display: table;
  margin: 0 auto;
}

.field_with_errors{
  display: inline;
}

.login_section{
  .field{
    margin-top: 20px;
  }

  .actions{
    margin-top: 10px;
    margin-bottom:10px;
  }

  input[type="password"],
  input[type="email"]{
    width:90%;
    padding:3px;
  }

  .box_login{
    padding: 40px;
    background: #f5f2f0;
  }

  a:visited.btn{
    color:#FFFFFF !important;
  }
}

.messenger-message-inner{
  font-size:15px;
}

.messenger-actions a{
  text-decoration: none !important;
}

.text-align-center{
  text-align: center;
}

/* */

ul.ul_language_dropdown li a{
  padding: 0;
  margin: 0;
}

ul.ul_language_dropdown li{
  padding: 3px 20px;
}

ul.ul_language_dropdown li:hover{
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}

/* */
ul.tag-editor {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px 0;
}

ul.tag-editor li div{
  color: #a0999b;
}

.chosen-container-single .chosen-single{
  height: 30px !important;
  padding-top:2px !important;
}

.add-sentence-style{
  margin:10px 0 50px;
}

/* */
/* .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding-left: 0;
  padding-right: 0;
}
*/

.alternative_login{
margin-top: 30px;
}

.alternative_login .or {
  text-align: center;
  margin-bottom: 10px;
  width: 90%;
}

.width_90{
  width: 90%;
}

/* --- */

.word_and_tr_el{
  display: inline-block;
  font-size: 21px;
  width: 190px;
  height: 190px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin: 10px;
  border: 1px solid;
}

.word_and_tr_el div.table div{
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-shadow: 1px 2px 0 #456;
  color: #ffffff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

div.word_and_tr_el img.custom{
  border: 0px;
}

.word_and_tr_el div.table{
  display: table;
  height: 100%;
}