<% @words.each_with_index do |el, index| %>
  <div class="word_and_tr_el" attr-el="<%= index %>"><div class="table"><div><%= el.word.body %></div></div></div>
  <div class="word_and_tr_el" attr-el="<%= index %>"><div class="table"><div><%= el.translation_words.first.body %></div></div></div>
  <% if el.image %>
    <% if el.image.body == "" %>
      <% image_correct = asset_path('no-image.png') %>
    <% end %>
    <% if el.image.body != "" %>
      <% image_correct = el.image.body %>
    <% end %>
  <% end %>
  <img attr-el="<%= index %>" class="custom_image word_and_tr_el" data-img="<%= image_correct %>">
<% end %>